mat-form-field {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
mat-dialog-actions {
  display: flex;
  justify-content: center;
}

.marginRightec {
  margin-right: 5px;
}

.topmargin {
  margin-top: 10px;
}