<section>
  <div class="page-header text-center">
    <h2>About</h2>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 panel panel-default">
        <mdb-card>
          <!--Card image-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title> <h4>Contacts</h4> </mdb-card-title>
            <!--Text-->
            <mdb-card-text>
              <p>LOREM</p>
              Open:
              <p>10:00 - 20:00 (Monday - Friday)</p>
              <p><mat-icon>phone</mat-icon> +359 899 55 55 92</p>
              <p><mat-icon>email</mat-icon> info@softuni.bg</p>
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-md-6 panel panel-default">
        <mdb-card>
          <!--Card image-->
          <mdb-card-body>
            <mdb-card-title> <h4>Find Us</h4> </mdb-card-title>
            <div class="panel-body embed-responsive embed-responsive-16by9">
              <iframe
                class="embed-responsive-item"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2933.7494573265208!2d23.348494815008543!3d42.66666442367692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa85cb55c36753%3A0xbde203f1e5db85d1!2z0YPQuy4g4oCe0KLQuNC90YLRj9Cy0LDigJwgMTUtMTcsIDExMTMg0KHQvtGE0LjRjw!5e0!3m2!1sbg!2sbg!4v1472300758046"
                width="{450}"
                height="{160}"
              ></iframe>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</section>
